/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Heebo', sans-serif;
  background: url(/img/world-bg.png);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #546A76;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
.container {
  width: 100%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 100px;
  background: #F1FFE7;
  opacity: 0.6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
header .logo img {
  height: 90px;
}
header nav {
  margin-left: 35%;
}
header nav a {
  text-decoration: none;
  color: #3AB25C;
  font-size: 2.5rem;
  text-align: center;
  padding: 0 3rem;
}
header .smallSignUp {
  height: 40px;
  width: 150px;
  background: #3AB25C;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2rem;
  margin-left: 50px;
  padding-top: 10px;
}
footer {
  width: 100%;
  height: 100px;
  background: #F1FFE7;
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
footer a {
  text-decoration: none;
  color: #3AB25C;
  font-size: 2.5rem;
  text-align: center;
  padding: 0 3rem;
}
.banner {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90%;
}
.banner .phone {
  width: 50%;
}
.banner .phone img {
  height: 50rem;
}
.banner .bannerText {
  width: 50%;
  padding-top: 5rem;
}
.banner .bannerText .signUp {
  height: 40px;
  width: 200px;
  background: #3AB25C;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2.5rem;
  padding-top: 8px;
  margin-top: 3rem;
}
.middle-container {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .middle-container {
    flex-direction: column;
  }
}
.middle-container .top-left {
  width: 50%;
  padding: 25px;
  font-size: 2rem;
  background: #546A76;
  color: white;
}
@media (max-width: 500px) {
  .middle-container .top-left {
    width: 100%;
  }
}
.middle-container .top-left h3 {
  color: white;
}
.middle-container .top-left img {
  height: 30rem;
}
@media (max-width: 500px) {
  .middle-container .top-left img {
    height: 20rem;
  }
}
.middle-container .top-left .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.middle-container .top-left p {
  margin: 0px 5px;
  font-size: 1.8rem;
}
.middle-container .top-right {
  width: 50%;
  padding: 25px;
  font-size: 2rem;
  background: #F46C3A;
  color: white;
}
@media (max-width: 500px) {
  .middle-container .top-right {
    width: 100%;
  }
}
.middle-container .top-right h3 {
  color: white;
}
.middle-container .top-right img {
  height: 30rem;
}
@media (max-width: 500px) {
  .middle-container .top-right img {
    height: 20rem;
  }
}
.middle-container .top-right .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.middle-container .top-right p {
  margin: 0px 5px;
  font-size: 1.8rem;
}
.middle-container .bottom-left {
  width: 50%;
  padding: 25px;
  font-size: 2rem;
  background: #3AB25C;
  color: white;
}
@media (max-width: 500px) {
  .middle-container .bottom-left {
    width: 100%;
  }
}
.middle-container .bottom-left h3 {
  color: white;
}
.middle-container .bottom-left img {
  height: 30rem;
}
@media (max-width: 500px) {
  .middle-container .bottom-left img {
    height: 20rem;
  }
}
.middle-container .bottom-left .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.middle-container .bottom-left p {
  margin: 0px 5px;
  font-size: 1.8rem;
}
.middle-container .bottom-right {
  width: 50%;
  padding: 25px;
  font-size: 2rem;
  background: #546A76;
  color: white;
}
@media (max-width: 500px) {
  .middle-container .bottom-right {
    width: 100%;
  }
}
.middle-container .bottom-right h3 {
  color: white;
}
.middle-container .bottom-right img {
  height: 30rem;
}
@media (max-width: 500px) {
  .middle-container .bottom-right img {
    height: 20rem;
  }
}
.middle-container .bottom-right .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.middle-container .bottom-right p {
  margin: 0px 5px;
  font-size: 1.8rem;
}
.reviews {
  border: 5px solid red;
  padding: 10px;
}
