/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Heebo', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #546A76;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
.container {
  width: 100%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 10rem;
  background: #F1FFE7;
  opacity: 0.6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px), (max-width: 1292px), (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
  }
}
header .logo img {
  height: 7rem;
  margin-left: 5rem;
  cursor: pointer;
}
@media (max-width: 800px), (max-width: 1292px) {
  header .logo img {
    height: 5.5rem;
    margin-top: 1rem;
    margin-left: 0;
  }
}
header nav {
  margin-left: 35%;
}
@media (max-width: 800px), (max-width: 1292px), (max-width: 500px) {
  header nav {
    margin-left: 0;
    margin-top: 1rem;
  }
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
header nav a {
  text-decoration: none;
  color: #3AB25C;
  font-size: 2.5rem;
  text-align: center;
  padding: 0 3rem;
}
header nav a:hover {
  color: #F46C3A;
}
@media (max-width: 500px) {
  header nav a {
    padding: 1rem;
    border-bottom: 1px dashed #F46C3A;
  }
}
header .smallSignUp {
  height: 40px;
  width: 150px;
  background: #3AB25C;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2rem;
  margin-right: 5rem;
  padding-top: 1rem;
}
header .smallSignUp:hover {
  background: #F46C3A;
}
header .smallSignUp a {
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 800px), (max-width: 1292px) {
  header .smallSignUp {
    margin-top: 1rem;
    margin-right: 0;
  }
}
footer {
  width: 100%;
  height: 100px;
  background: #F1FFE7;
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
footer a {
  text-decoration: none;
  color: #3AB25C;
  font-size: 2rem;
  text-align: center;
  padding: 0 3rem;
}
.banner {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 90%;
}
@media (max-width: 800px) {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.banner .phone {
  width: 50%;
  margin-left: 10rem;
}
@media (max-width: 800px) {
  .banner .phone {
    width: 100%;
    margin-left: 15rem;
  }
}
@media (max-width: 500px) {
  .banner .phone {
    margin-left: 0;
  }
}
.banner .phone img {
  height: 60rem;
  animation: swirl-in-fwd 1.5s ease-out both;
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .banner .phone img {
    width: 100%;
  }
}
.banner .bannerText {
  width: 40%;
  padding-top: 5rem;
  margin: 0 3rem;
}
@media (max-width: 800px) {
  .banner .bannerText {
    margin-left: 10rem;
    width: 80%;
  }
}
@media (max-width: 500px) {
  .banner .bannerText {
    margin-left: 1rem;
  }
}
.banner .bannerText .signUp {
  height: 50px;
  width: 200px;
  background: #3AB25C;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2.5rem;
  padding-top: 1.3rem;
  margin-top: 5rem;
  margin-left: 15rem;
}
.banner .bannerText .signUp:hover {
  background: #F46C3A;
}
.banner .bannerText .signUp a {
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 800px) {
  .banner .bannerText .signUp {
    margin-left: 9rem auto;
  }
}
@media (max-width: 500px) {
  .banner .bannerText .signUp {
    margin: 5rem auto;
  }
}
.middle-container {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .middle-container {
    flex-direction: column;
  }
}
.middle-container .top-left {
  width: 50%;
  padding: 25px;
  font-size: 2rem;
  background: #546A76;
  color: white;
}
@media (max-width: 500px) {
  .middle-container .top-left {
    width: 100%;
  }
}
.middle-container .top-left h3 {
  color: white;
}
.middle-container .top-left img {
  height: 30rem;
}
@media (max-width: 500px) {
  .middle-container .top-left img {
    height: 20rem;
  }
}
@media (max-width: 800px) {
  .middle-container .top-left img {
    height: 20rem;
  }
}
.middle-container .top-left .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.middle-container .top-left p {
  margin: 0px 5px;
  font-size: 1.8rem;
}
.middle-container .top-right {
  width: 50%;
  padding: 25px;
  font-size: 2rem;
  background: #F46C3A;
  color: white;
}
@media (max-width: 500px) {
  .middle-container .top-right {
    width: 100%;
  }
}
.middle-container .top-right h3 {
  color: white;
}
.middle-container .top-right img {
  height: 30rem;
}
@media (max-width: 500px) {
  .middle-container .top-right img {
    height: 20rem;
  }
}
@media (max-width: 800px) {
  .middle-container .top-right img {
    height: 20rem;
  }
}
.middle-container .top-right .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.middle-container .top-right p {
  margin: 0px 5px;
  font-size: 1.8rem;
}
.middle-container .bottom-left {
  width: 50%;
  padding: 25px;
  font-size: 2rem;
  background: #3AB25C;
  color: white;
}
@media (max-width: 500px) {
  .middle-container .bottom-left {
    width: 100%;
  }
}
.middle-container .bottom-left h3 {
  color: white;
}
.middle-container .bottom-left img {
  height: 30rem;
}
@media (max-width: 500px) {
  .middle-container .bottom-left img {
    height: 20rem;
  }
}
@media (max-width: 800px) {
  .middle-container .bottom-left img {
    height: 20rem;
  }
}
.middle-container .bottom-left .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.middle-container .bottom-left p {
  margin: 0px 5px;
  font-size: 1.8rem;
}
.middle-container .bottom-right {
  width: 50%;
  padding: 25px;
  font-size: 2rem;
  background: #546A76;
  color: white;
}
@media (max-width: 500px) {
  .middle-container .bottom-right {
    width: 100%;
  }
}
.middle-container .bottom-right h3 {
  color: white;
}
.middle-container .bottom-right img {
  height: 30rem;
}
@media (max-width: 500px) {
  .middle-container .bottom-right img {
    height: 20rem;
  }
}
@media (max-width: 800px) {
  .middle-container .bottom-right img {
    height: 20rem;
  }
}
.middle-container .bottom-right .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.middle-container .bottom-right p {
  margin: 0px 5px;
  font-size: 1.8rem;
}
.testheader {
  display: flex;
  justify-content: center;
}
.reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem auto;
}
@media (max-width: 500px) {
  .reviews {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
}
.reviews .re {
  width: 20%;
}
@media (max-width: 500px) {
  .reviews .re {
    flex-wrap: wrap;
    width: 90%;
  }
}
@media (max-width: 500px) {
  .reviews .re.review2 {
    display: none;
  }
}
.reviews img {
  width: 15rem;
  height: 15rem;
  margin: 2rem 5rem;
}
.reviews p {
  border-radius: 5rem;
  background: #F1FFE7;
  color: #546A76;
  padding: 2.5rem;
}
.topPic img {
  width: 100%;
  height: 20rem;
  animation: jello-horizontal 2s both;
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.aboutContainer {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem auto;
}
@media (max-width: 500px) {
  .aboutContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.aboutContainer .person {
  width: 33.33%;
  height: 35rem;
  text-align: center;
}
@media (max-width: 500px) {
  .aboutContainer .person {
    width: 100%;
  }
}
.aboutContainer img {
  height: 20rem;
  width: 20rem;
  align-self: center;
  margin-top: 2rem;
}
.aboutContainer h3 {
  font-size: 2.5rem;
  color: #FFFFFF;
  padding: 1rem;
}
.aboutContainer li {
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
  color: #FFFFFF;
}
.aboutContainer li .fa-github {
  color: #FFFFFF;
}
.aboutContainer .conner {
  background: #3AB25C;
}
.aboutContainer .john {
  background: #546A76;
}
.aboutContainer .jojo {
  background: #F46C3A;
}
.aboutContainer .kevin {
  background: #546A76;
}
.aboutContainer .teami {
  background: #A9FDAC;
}
.aboutContainer .vlad {
  background: #546A76;
}
.aboutContainer .vlad h3 {
  font-size: 2.3rem;
}
.aboutContainer .zach {
  background: #F46C3A;
}
.testing {
  border: 5px solid red;
}
.background-img {
  background-image: url(../img/jack-finnigan-g4B4x6hhkO0-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.background-img img {
  height: 100%;
}
@media (max-width: 500px) {
  .background-img {
    background-position: bottom;
  }
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  transition: all 3s ease-in-out;
  font-size: 2rem;
  color: white;
}
@media (max-width: 500px) {
  form {
    margin-top: 120px;
  }
}
form .contact {
  width: 50%;
  background: transparent;
  font-size: 1.5rem;
  color: white;
}
form .submit {
  background: #A9FDAC;
  padding: 10px;
  border-radius: 5px;
  font-size: 2rem;
  width: 50%;
  margin: 20px;
}
form .submit:hover {
  background: #3AB25C;
}
