.testing{
    border:5px solid red;
}

.background-img{
    background-image: url(../img/jack-finnigan-g4B4x6hhkO0-unsplash.jpg);
    background-size:cover;
    background-position:center;
    img {
        height: 100%;
    }

    @media @mobile{
        background-position:bottom;
    }
}

form{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    @media @mobile{
        margin-top:120px;
    }

    transition: all 3s ease-in-out;
    font-size:2rem;
    color:white;
    
    
    .contact{
        width:50%;
        background:transparent;
        font-size:1.5rem;
        color:white;
    }
    .submit{
        background:@lightGreen;
        padding:10px;
        border-radius:5px;
        font-size:2rem;
        width:50%;
        margin:20px;
    }
    .submit:hover{
        background:@mainGreen;
    }
}
