.banner {
    
    margin-top: 50px;
    .display-flex(row, space-around);
    height: 90%;
    .phone {
        width: 50%;
        img {
            height: 50rem;    
        }
    }
    .bannerText {
        width: 50%;
        padding-top: 5rem;
        .signUp {
            .buttons(@mainGreen, 40px, 200px, @white);
            font-size: 2.5rem;
            padding-top: 8px;
            margin-top: 3rem;
        }//closes signUp
    }//closes bannerText
}//closes banner

.middle-container{
        border:1px solid red;
        display:flex;
        flex-wrap:wrap;
    .top-left{
        border:1px solid blue;
        width:50%;
    }
    .top-right{
        border:1px solid black;
        width:50%;
    }
    .bottom-left{
        border:1px solid green;
        width:50%;
    }
    .bottom-right{
        border:1px solid orange;
        width:50%;
    }
}//closes middle-container