.buttons(@bg-color, @height, @width, @color){
    height: @height;
    width: @width;
    background: @bg-color;
    color: @color;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.display-flex (@direction, @justify){
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
 }